<a href="https://colab.research.google.com/github/shubh9956/M_L_Practice_projects/blob/main/Fashion/Fashion_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CASE STUDY: FASHION CLASS CLASSIFICATION 
# Shubham Maurya

# STEP #1: PROBLEM STATEMENT AND BUSINESS CASE

Fashion training set consists of 70,000 images divided into 60,000 training and 10,000 testing samples. Dataset sample consists of 28x28 grayscale image, associated with a label from 10 classes. 

The 10 classes are as follows:  
0 => T-shirt/top
1 => Trouser
2 => Pullover
3 => Dress
4 => Coat
5 => Sandal
6 => Shirt
7 => Sneaker
8 => Bag
9 => Ankle boot

Each image is 28 pixels in height and 28 pixels in width, for a total of 784 pixels in total. Each pixel has a single pixel-value associated with it, indicating the lightness or darkness of that pixel, with higher numbers meaning darker. This pixel-value is an integer between 0 and 255.

# STEP #2: IMPORTING DATA

In [1]:
# import libraries 
import pandas as pd # Import Pandas for data manipulation using dataframes
import numpy as np # Import Numpy for data statistical analysis 
import matplotlib.pyplot as plt # Import matplotlib for data visualisation
import seaborn as sns
import random

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# dataframes creation for both training and testing datasets 
fashion_test_df = pd.read_csv('/content/drive/My Drive/data/fashion_test.csv')
fashion_train_df = pd.read_csv('/content/drive/My Drive/data/fashion_train.csv')

# STEP #3: VISUALIZATION OF THE DATASET

In [5]:
# Let's view the head of the training dataset
# 784 indicates 28x28 pixels and 1 coloumn for the label
# After you check the tail, 60,000 training dataset are present
fashion_train_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# Let's view the last elements in the training dataset
fashion_train_df.tail()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
59995,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59996,1,0,0,0,0,0,0,0,0,0,...,73,0,0,0,0,0,0,0,0,0
59997,8,0,0,0,0,0,0,0,0,0,...,160,162,163,135,94,0,0,0,0,0
59998,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59999,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Let's view the head of the testing dataset
fashion_test_df.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,9,8,...,103,87,56,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,34,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,0,0,14,53,99,...,0,0,0,0,63,53,31,0,0,0
3,2,0,0,0,0,0,0,0,0,0,...,137,126,140,0,133,224,222,56,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# Let's view the last elements in the testing dataset
fashion_test_df.tail()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
9995,0,0,0,0,0,0,0,0,0,0,...,32,23,14,20,0,0,1,0,0,0
9996,6,0,0,0,0,0,0,0,0,0,...,0,0,0,2,52,23,28,0,0,0
9997,8,0,0,0,0,0,0,0,0,0,...,175,172,172,182,199,222,42,0,1,0
9998,8,0,1,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
9999,1,0,0,0,0,0,0,0,140,119,...,111,95,75,44,1,0,0,0,0,0

In [9]:
fashion_train_df.shape

(60000, 785)

In [10]:
# Create training and testing arrays
training = np.array(fashion_train_df, dtype = 'float32')
testing = np.array(fashion_test_df, dtype='float32')

In [11]:
training.shape

(60000, 785)

In [12]:
training

array([[2., 0., 0., ..., 0., 0., 0.],
       [9., 0., 0., ..., 0., 0., 0.],
       [6., 0., 0., ..., 0., 0., 0.],
       ...,
       [8., 0., 0., ..., 0., 0., 0.],
       [8., 0., 0., ..., 0., 0., 0.],
       [7., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [13]:
testing

array([[0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [2., 0., 0., ..., 0., 0., 0.],
       ...,
       [8., 0., 0., ..., 0., 1., 0.],
       [8., 0., 1., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [ ]:
# Let's view some images!
i = random.randint(1,60000) # select any random index from 1 to 60,000
plt.imshow( training[i,1:].reshape((28,28)) ) # reshape and plot the image

plt.imshow( training[i,1:].reshape((28,28)) , cmap = 'gray') # reshape and plot the image


#  the 10 classes decoding is as follows:
# 0 => T-shirt/top
# 1 => Trouser
# 2 => Pullover
# 3 => Dress
# 4 => Coat
# 5 => Sandal
# 6 => Shirt
# 7 => Sneaker
# 8 => Bag
# 9 => Ankle boot

In [15]:
label = training[i,0]
label

3.0

In [ ]:
# Let's view more images in a grid format
# Define the dimensions of the plot grid 
W_grid = 15
L_grid = 15

# fig, axes = plt.subplots(L_grid, W_grid)
# subplot return the figure object and axes object
# we can use the axes object to plot specific figures at various locations

fig, axes = plt.subplots(L_grid, W_grid, figsize = (17,17))

axes = axes.ravel() # flaten the 15 x 15 matrix into 225 array

n_training = len(training) # get the length of the training dataset

# Select a random number from 0 to n_training
for i in np.arange(0, W_grid * L_grid): # create evenly spaces variables 

    # Select a random number
    index = np.random.randint(0, n_training)
    # read and display an image with the selected index    
    axes[i].imshow( training[index,1:].reshape((28,28)) )
    axes[i].set_title(training[index,0], fontsize = 8)
    axes[i].axis('off')

plt.subplots_adjust(hspace=0.4)

# Remember the 10 classes decoding is as follows:
# 0 => T-shirt/top
# 1 => Trouser
# 2 => Pullover
# 3 => Dress
# 4 => Coat
# 5 => Sandal
# 6 => Shirt
# 7 => Sneaker
# 8 => Bag
# 9 => Ankle boot

# STEP #4: TRAINING THE MODEL

In [17]:
# Prepare the training and testing dataset 
X_train = training[:,1:]/255
y_train = training[:,0]

X_test = testing[:,1:]/255
y_test = testing[:,0]

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_validate, y_train, y_validate = train_test_split(X_train, y_train, test_size = 0.2, random_state = 12345)

In [19]:
X_train.shape

(48000, 784)

In [20]:
y_train.shape

(48000,)

In [21]:
# * unpack the tuple
X_train = X_train.reshape(X_train.shape[0], *(28, 28, 1))
X_test = X_test.reshape(X_test.shape[0], *(28, 28, 1))
X_validate = X_validate.reshape(X_validate.shape[0], *(28, 28, 1))

In [22]:
X_train.shape

(48000, 28, 28, 1)

In [23]:
X_test.shape

(10000, 28, 28, 1)

In [24]:
X_validate.shape

(12000, 28, 28, 1)

In [25]:
import keras # open source Neural network library madke our life much easier

# y_train = keras.utils.to_categorical(y_train, 10)
# y_test = keras.utils.to_categorical(y_test, 10)

In [27]:
# Import train_test_split from scikit library
# Import Keras
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Dropout
from tensorflow.keras.optimizers import Adam
from keras.callbacks import TensorBoard

In [29]:
cnn_model = Sequential()

# Try 32 fliters first then 64
cnn_model.add(Conv2D(64,3, 3, input_shape = (28,28,1), activation='relu'))
cnn_model.add(MaxPooling2D(pool_size = (2, 2)))

cnn_model.add(Dropout(0.25))

# cnn_model.add(Conv2D(32,3, 3, activation='relu'))
# cnn_model.add(MaxPooling2D(pool_size = (2, 2)))

cnn_model.add(Flatten())
cnn_model.add(Dense(units = 32, activation = 'relu'))
cnn_model.add(Dense(units = 10, activation = 'sigmoid'))

In [30]:
cnn_model.compile(loss ='sparse_categorical_crossentropy', optimizer=Adam(lr=0.001),metrics =['accuracy'])

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

In [32]:


history = cnn_model.fit(X_train,
                        y_train,
                        batch_size = 512,
                        epochs = 50,
                        verbose = 1,
                        validation_data = (X_validate, y_validate))

Epoch 1/50
94/94 [==============================] - 5s 43ms/step - loss: 1.2473 - accuracy: 0.5896 - val_loss: 0.7194 - val_accuracy: 0.7397
Epoch 2/50
94/94 [==============================] - 5s 52ms/step - loss: 0.6674 - accuracy: 0.7571 - val_loss: 0.5904 - val_accuracy: 0.7898
Epoch 3/50
94/94 [==============================] - 4s 41ms/step - loss: 0.5871 - accuracy: 0.7873 - val_loss: 0.5354 - val_accuracy: 0.8090
Epoch 4/50
94/94 [==============================] - 4s 40ms/step - loss: 0.5459 - accuracy: 0.8004 - val_loss: 0.5034 - val_accuracy: 0.8196
Epoch 5/50
94/94 [==============================] - 4s 41ms/step - loss: 0.5212 - accuracy: 0.8086 - val_loss: 0.4925 - val_accuracy: 0.8252
Epoch 6/50
94/94 [==============================] - 4s 41ms/step - loss: 0.5042 - accuracy: 0.8152 - val_loss: 0.4732 - val_accuracy: 0.8300
Epoch 7/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4887 - accuracy: 0.8204 - val_loss: 0.4565 - val_accuracy: 0.8389
Epoch 8/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4763 - accuracy: 0.8260 - val_loss: 0.4486 - val_accuracy: 0.8420
Epoch 9/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4700 - accuracy: 0.8288 - val_loss: 0.4390 - val_accuracy: 0.8417
Epoch 10/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4599 - accuracy: 0.8315 - val_loss: 0.4386 - val_accuracy: 0.8418
Epoch 11/50
94/94 [==============================] - 5s 48ms/step - loss: 0.4535 - accuracy: 0.8357 - val_loss: 0.4274 - val_accuracy: 0.8464
Epoch 12/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4457 - accuracy: 0.8369 - val_loss: 0.4215 - val_accuracy: 0.8512
Epoch 13/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4419 - accuracy: 0.8402 - val_loss: 0.4173 - val_accuracy: 0.8482
Epoch 14/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4386 - accuracy: 0.8404 - val_loss: 0.4119 - val_accuracy: 0.8503
Epoch 15/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4323 - accuracy: 0.8421 - val_loss: 0.4099 - val_accuracy: 0.8517
Epoch 16/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4282 - accuracy: 0.8437 - val_loss: 0.4054 - val_accuracy: 0.8542
Epoch 17/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4253 - accuracy: 0.8458 - val_loss: 0.4044 - val_accuracy: 0.8549
Epoch 18/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4224 - accuracy: 0.8462 - val_loss: 0.4001 - val_accuracy: 0.8534
Epoch 19/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4197 - accuracy: 0.8474 - val_loss: 0.3986 - val_accuracy: 0.8547
Epoch 20/50
94/94 [==============================] - 5s 48ms/step - loss: 0.4161 - accuracy: 0.8476 - val_loss: 0.3997 - val_accuracy: 0.8517
Epoch 21/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4132 - accuracy: 0.8496 - val_loss: 0.3892 - val_accuracy: 0.8598
Epoch 22/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4103 - accuracy: 0.8498 - val_loss: 0.3904 - val_accuracy: 0.8587
Epoch 23/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4082 - accuracy: 0.8513 - val_loss: 0.3894 - val_accuracy: 0.8561
Epoch 24/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4022 - accuracy: 0.8540 - val_loss: 0.3845 - val_accuracy: 0.8593
Epoch 25/50
94/94 [==============================] - 4s 41ms/step - loss: 0.4015 - accuracy: 0.8531 - val_loss: 0.3833 - val_accuracy: 0.8597
Epoch 26/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3991 - accuracy: 0.8549 - val_loss: 0.3817 - val_accuracy: 0.8611
Epoch 27/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3961 - accuracy: 0.8566 - val_loss: 0.3789 - val_accuracy: 0.8617
Epoch 28/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3956 - accuracy: 0.8557 - val_loss: 0.3767 - val_accuracy: 0.8620
Epoch 29/50
94/94 [==============================] - 5s 49ms/step - loss: 0.3944 - accuracy: 0.8565 - val_loss: 0.3782 - val_accuracy: 0.8613
Epoch 30/50
94/94 [==============================] - 5s 53ms/step - loss: 0.3931 - accuracy: 0.8563 - val_loss: 0.3787 - val_accuracy: 0.8617
Epoch 31/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3926 - accuracy: 0.8556 - val_loss: 0.3796 - val_accuracy: 0.8595
Epoch 32/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3870 - accuracy: 0.8581 - val_loss: 0.3743 - val_accuracy: 0.8604
Epoch 33/50
94/94 [==============================] - 5s 48ms/step - loss: 0.3869 - accuracy: 0.8574 - val_loss: 0.3748 - val_accuracy: 0.8632
Epoch 34/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3855 - accuracy: 0.8584 - val_loss: 0.3706 - val_accuracy: 0.8641
Epoch 35/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3849 - accuracy: 0.8610 - val_loss: 0.3711 - val_accuracy: 0.8637
Epoch 36/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3806 - accuracy: 0.8617 - val_loss: 0.3698 - val_accuracy: 0.8637
Epoch 37/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3787 - accuracy: 0.8616 - val_loss: 0.3671 - val_accuracy: 0.8655
Epoch 38/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3783 - accuracy: 0.8612 - val_loss: 0.3633 - val_accuracy: 0.8681
Epoch 39/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3802 - accuracy: 0.8596 - val_loss: 0.3672 - val_accuracy: 0.8643
Epoch 40/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3776 - accuracy: 0.8608 - val_loss: 0.3638 - val_accuracy: 0.8665
Epoch 41/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3705 - accuracy: 0.8644 - val_loss: 0.3578 - val_accuracy: 0.8711
Epoch 42/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3696 - accuracy: 0.8649 - val_loss: 0.3572 - val_accuracy: 0.8698
Epoch 43/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3671 - accuracy: 0.8641 - val_loss: 0.3609 - val_accuracy: 0.8654
Epoch 44/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3667 - accuracy: 0.8645 - val_loss: 0.3684 - val_accuracy: 0.8626
Epoch 45/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3668 - accuracy: 0.8647 - val_loss: 0.3554 - val_accuracy: 0.8709
Epoch 46/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3646 - accuracy: 0.8662 - val_loss: 0.3552 - val_accuracy: 0.8696
Epoch 47/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3625 - accuracy: 0.8667 - val_loss: 0.3572 - val_accuracy: 0.8668
Epoch 48/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3618 - accuracy: 0.8682 - val_loss: 0.3501 - val_accuracy: 0.8725
Epoch 49/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3594 - accuracy: 0.8682 - val_loss: 0.3510 - val_accuracy: 0.8720
Epoch 50/50
94/94 [==============================] - 4s 41ms/step - loss: 0.3588 - accuracy: 0.8696 - val_loss: 0.3516 - val_accuracy: 0.8702

# STEP #5: EVALUATING THE MODEL

In [33]:
evaluation = cnn_model.evaluate(X_test, y_test)
print('Test Accuracy : {:.3f}'.format(evaluation[1]))

313/313 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8781
Test Accuracy : 0.878

In [34]:
# get the predictions for the test data
predicted_classes = cnn_model.predict(X_test)

In [ ]:
L = 5
W = 5
fig, axes = plt.subplots(L, W, figsize = (12,12))
axes = axes.ravel() # 

for i in np.arange(0, L * W):  
    axes[i].imshow(X_test[i].reshape(28,28))
    axes[i].set_title("Prediction Class = {:0.1f}\n True Class = {:0.1f}".format(predicted_classes[i], y_test[i]))
    axes[i].axis('off')

plt.subplots_adjust(wspace=0.5)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, predicted_classes)
plt.figure(figsize = (14,10))
sns.heatmap(cm, annot=True)
# Sum the diagonal element to get the total true correct values

In [ ]:
from sklearn.metrics import classification_report

num_classes = 10
target_names = ["Class {}".format(i) for i in range(num_classes)]

print(classification_report(y_test, predicted_classes, target_names = target_names))